@charset "UTF-8";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection,
::-moz-selection {
  background-color: #30475e;
  color: #c1a57b;
}

body {
  font-size: 16px;
  color: #ececec;
  background-color: #222831;
  font-family: Fira Sans Condensed;
  height: 100%;
}

/* HEADER */
#header-nav {
  border-radius: 0;
  border: 2px solid #ececec;
  background-color: transparent;
  margin: 50px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.navbar-brand {
  font-family: Great Vibes;
  font-size: 3.1vw;
  text-shadow: 1px 1px 1px #c1a57b;
}

#header-nav.active {
  margin-top: 0;
  background: #222831;
  border: 2px solid transparent;
}

ul.nav-section > li {
  text-align: center;
  font-size: 1.7vw;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #c1a57b !important;
}

.navbar-dark .navbar-toggler {
  border: none;
}
[class*="fa-"]:hover {
  color: #c1a57b !important;
}
[class*="fa-"] {
  color: rgba(255, 255, 255, 0.5) !important;
  size: 1.1vw;
}

@media (max-width: 768px) {
  .icons {
    padding-top: 10px;
  }
}
/* END HEADER */

/* JUMBOTRON VIDEO */
.jumbotron.jumbotron-fluid {
  position: relative;
  overflow: hidden;
  background-color: #222831;
  padding: 0;
}
.jumbotron.jumbotron-fluid video {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
  padding-top: 40vh;
  padding-bottom: 30vh;
}
/* END JUMPOTRON */

/* FOOTER */
footer {
  background-color: peru;
}

/* Make div in 2 nd has padding */
/* footer > div:nth-child(

) */
