@charset "UTF-8";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection,
::-moz-selection {
  background-color: #30475e;
  color: #c1a57b;
}

body {
  font-size: 16px;
  color: #ececec;
  background-color: #222831;
  font-family: Fira Sans Condensed;
  height: 100%;
  background-image: url(../img/background-200x300.jpg);
  background-size: cover;
  background-repeat: repeat-y;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e7d39f;
  font-family: Rancho;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(245, 185, 113, 0.5);
}

/* HEADER */
#header-nav {
  border-radius: 0;
  border: 2px solid #ececec;
  background-color: transparent;
  margin: 50px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.navbar-brand {
  font-family: Great Vibes;
  text-shadow: 1px 1px 1px #c1a57b;
  font-size: 1.7em;
}

#header-nav.active {
  margin-top: 0;
  background: #222831;
  border: 2px solid transparent;
}

ul.nav-section > li {
  text-align: center;
  font-size: 1em;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #c1a57b !important;
}

.navbar-dark .navbar-toggler {
  border: none;
}
[class*="fa-"]:hover {
  color: #c1a57b !important;
}
[class*="fa-"] {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* END HEADER */

/* JUMBOTRON VIDEO */
.jumbotron.jumbotron-fluid {
  position: relative;
  overflow: hidden;
  background-color: #222831;
  padding: 0;
  height: 100vh;
}
.jumbotron.jumbotron-fluid video {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity: 0.5;
}
.jumbotron .container {
  z-index: 2;
  position: relative;
  padding-top: 30vh;
}
.home-1 {
  background-image: url(../img/home-graphic-300x254.png);
  background-repeat: no-repeat;
  height: 28vw;
  background-size: contain;
  opacity: 0.8;
}
.arrow {
  position: relative;
  z-index: 2;
  padding-top: 10vh;
}

.arrow > a > i.fas.fa-arrow-down {
  font-size: 1.7em;
}

/* END JUMPOTRON */

/* FOOTER */
footer {
  background-color: peru;
}

/* Make div in 2 nd has padding */
/* footer > div:nth-child(

) */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background-image: url(../img/background-550x550.jpg);
  }
  .navbar-brand {
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-image: url(../img/background-768x1150.jpg);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-image: url(../img/background-1100x1100.jpg);
  }
  .navbar-brand {
    font-size: 3.7vw;
  }
  ul.nav-section > li {
    font-size: 1.7vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
